<header class="navbar">
  <div class="logo">Meus Eventos</div>
  <nav class="menu">
    <ul>
      <li><a routerLink="/home" routerLinkActive="ativo">Início</a></li>
      <li><a routerLink="/adicionar" routerLinkActive="ativo">Adicionar</a></li>
      <li><a routerLink="/listar" routerLinkActive="ativo">Listar</a></li>
      <li><a routerLink="/buscar" routerLinkActive="ativo">Buscar</a></li>
      <li><a routerLink="/gerenciar" routerLinkActive="ativo">Gerenciar</a></li>
    </ul>
  </nav>
</header>

<router-outlet/>

